<html>
  <body style="background-color: lightsalmon;">
  <header style ="text-align: center;">
    <div class="navbar">
      <a href="/">Home</a>
      <a href="about.html">About</a>
      <a href="login.html">Login</a>
      <a href="register.html">Register</a>
    </div>

  <form action="/register" method="POST">
    <input type="text" name = "username" placeholder="email" required/> <br>
    <input type="submit" value = Submit />
    <input type="button" value = Back onclick="history.back()">
  </form>
  </header>
  </body>
</html>
