{% extends "layout.html" %}

{% block content %}

<h2 class="text-center"> Teacher's Homepage</h2>
<h4> Current Course Statistics  </h4> 
<table class="table table-striped">
    <thead>
        <tr>
            <th>#</th>
            <th>Course</th>
            <th>Time</th>
            <th>Total Students</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Biology</td>
            <td>Cell Structure</td>
            <td>90</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Chemistry</td>
            <td>Atoms & Molecule </td>
            <td>71</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Computer Science</td>
            <td>Object Oriented Programming</td>
            <td>99</td>
        </tr>
    </tbody>
</table>

<br>
<!-- HEADER, FOOTER, CENTERED -->
<div class="card text-center">
    <div class="card-header">
    </div>
    <div class="card-body">
        <h4 class="card-title">Create Course</h4>
        <a class="btn btn-dark" href="#">Press</a>
    </div>
    <div class="card-footer text-muted">
    </div>
</div>

<br>
<br>

<!-- HEADER, FOOTER, CENTERED -->
<div class="card text-center">
    <div class="card-header">
    </div>
    <div class="card-body">
        <h4 class="card-title">Create Assignments</h4>
        <a class="btn btn-dark" href="#">Press</a>
    </div>
    <div class="card-footer text-muted">
    </div>
</div>

<br>
<br>

<!-- HEADER, FOOTER, CENTERED -->
<div class="card text-center">
    <div class="card-header">
    </div>
    <div class="card-body">
        <h4 class="card-title">Add Student</h4>
        <a class="btn btn-dark" href="#">Press</a>
    </div>
    <div class="card-footer text-muted">
    </div>
</div>

<br>
<br>

<!-- HEADER, FOOTER, CENTERED -->
<div class="card text-center">
    <div class="card-header">
       
    </div>
    <div class="card-body">
        <h4 class="card-title"> Add Parent</h4>
        <a class="btn btn-dark" href="#">Press</a>
    </div>
    <div class="card-footer text-muted">
    </div>
</div>

<br>
<br>

<!-- HEADER, FOOTER, CENTERED -->
<div class="card text-center">
    <div class="card-header">
    </div>
    <div class="card-body">
        <h4 class="card-title">Grade Assignments</h4>
        <a class="btn btn-dark" href="#">Press</a>
    </div>
    <div class="card-footer text-muted">
    </div>
</div>

<br>
<br>

{% endblock %}