{% extends "layout.html" %}
{% block content %}
{% if current_user.is_parent==True%}
<h4 class="text-center">Parent Grade</h4> 
<br>
<table class="table table-striped">
    <thead>
        <tr>
            <th>#</th>
            <th>Student</th>
            <th>Course</th>
            <th>Grade </th>
        </tr>
    </thead>
    <tbody>
    {% set count = namespace(a=1) %}
    {% for key in courses %}
        <tr>
            <th scope="row">{{count.a}}</th>
            <td>{{key[0]}}</td>
            <td>{{key[1]}}</td>
            <td>{{key[2]}}</td>
        </tr>
    </tbody>
    {% set count.a = count.a + 1 %}
    {% endfor %}
  
</table>
<br>
{% else %}
<div class="alert alert-primary text-center">
    You don't have authorization to view this page
</div>
{%endif%}

{% endblock %}