{% extends "layout.html" %}
{% block content %}

<h2 class="text-center">Student's Homepage</h2>
<h4> Grades </h4> 
<table class="table table-striped">
    <thead>
        <tr>
            <th>#</th>
            <th>Course</th>
            <th>Assignment</th>
            <th>Grade</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Biology</td>
            <td>Cell Structure</td>
            <td>90</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Chemistry</td>
            <td>Atoms & Molecule </td>
            <td>71</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Computer Science</td>
            <td>Object Oriented Programming</td>
            <td>99</td>
        </tr>
    </tbody>
</table>

<br>


<h4> Incomplete Assignments </h4> 
<table class="table table-striped">
    <thead>
        <tr>
            <th>#</th>
            <th>Course</th>
            <th>Assignment</th>
            <th>Grade</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Biology</td>
            <td>Cell Structure</td>
            <td>90</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Chemistry</td>
            <td>Atoms & Molecule </td>
            <td>71</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Computer Science</td>
            <td>Object Oriented Programming</td>
            <td>99</td>
        </tr>
    </tbody>
</table>

<br>


<h4> Schedule </h4> 
<table class="table table-striped">
    <thead>
        <tr>
            <th>#</th>
            <th>Course</th>
            <th>Assignment</th>
            <th>Grade</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Biology</td>
            <td>Cell Structure</td>
            <td>90</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Chemistry</td>
            <td>Atoms & Molecule </td>
            <td>71</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Computer Science</td>
            <td>Object Oriented Programming</td>
            <td>99</td>
        </tr>
    </tbody>
</table>

<br>

{% endblock %}