{% extends "layout.html" %}
{% block content %}
<h4 class="text-center">Your Grades</h4> 
<br>
<table class="table table-striped">
    <thead>
        <tr>
            <th>#</th>
            <th>Assignment</th>
            <th>Course</th>
            <th>Deadline </th>
            <th>Score </th>
        </tr>
    </thead>
    <tbody>
    {% set count = 0 %}
    {% for key,value in courses.items() %}
       {% set count = count + 1 %}
        <tr>
            <th scope="row">{{count}}</th>
            <td>{{key}}</td>
            {% for item in value%}
            <td>{{item}}</td>
            {% endfor%}
        
        </tr>
    </tbody>
    {% endfor %}
</table>
<br>
{% endblock %}


