<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'blog/general.css' %}">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>

<body>
<div id="nav-div">

</div>
<h2>Register For Courses</h2>
<p>
    Find the course you want to register. <br>
    You can search for courses by name or instructor. <br>
    Once you are finished, press "Register". <br>
</p>
<div>
    <div>
    <table class="table">
        <tr>
            <th>Course Name</th>
            <th>Description</th>
            <th>Instructor</th>
            <th>Register</th>
        </tr>
        {% for course in course_list %} <!--Full list of courses in db-->
        <tr>
            <td>{{ course.name }}</td>
            <td>{{ course.description }}</td>
            <td>{{ course.instructor }}</td>
            <td><button class="register-course" id="{{ course.name }}">Register</button></td>
        </tr>
        {% endfor %}
    </table>
    {% endfor %}
</div>
</body>
<script> 
    $("#nav-div").load("nav_bar.html");

    $('.register-course').click(function() {
        var studentName = ""; //get from session?
        var data = { 
            studentName: studentName,
            courseName: $(this).attr('id')
        };
        var loc = window.location;
        // maybe smarter way to get url
        var url = loc.protocol + "//" + loc.hostname;
        $.ajax({
            url: "http://localhost:8080/student_register_course", //url subject to change
            method: "POST",
            data: JSON.stringify(data),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            complete: () => {
                window.alert("Successful registration")
            },
            error: (jqXHR, textStatus, errorThrown ) => {
                window.alert("Failed to register");
                console.error("textStatus: " + texStatus);
                console.error("errorThrown: " + errorThown);
            }
        });
    });

</script>