<html>
<body style="background-color: lightsalmon;">
	<header style ="text-align:center;">
<div class="navbar">
  <a href="/">Home</a>
  <a href="about.html">About</a>
	<a href="login.html">Login</a>
	<a href="register.html">Register</a>

</div>
<form action="/loginAuth" method="POST">
	<input type="text" name = "username" placeholder="username" required/> <br>
	<input type="password" name = "password" placeholder="password" required/> <br>
	<input type="submit" value = Login />
</form>

<a href="forgotpw.html">Forgot Password?</a>
<a href="register.html">Register an Account</a>
</header>
</body>
</html>
