#title {
    text-align: center;
    color: blue;
    font-family: cursive;
    padding: 30px;
}
#user-profile {
    margin: 20px 75px;
    min-width: 300px;
    padding-top: 10px;
}

#profile-image {
    width: 275px;
    height: 275px;
}

#upload-photo {
    max-width: 275px;
}